body{background-image: url("../images/bg.jpg");
background-repeat: repeat;}
h1,h2,h3,h4,h5,p{margin:0;padding:0}
.header_section{text-align:center;margin-bottom:20px}
.header_section h3{font-size:18px}
.header_section h4{font-size:15px}
.main_table_section{margin-bottom:40px}
.payment_table{}
.payment_table tbody tr td{padding: 0;
text-align: center;
vertical-align: inherit;}
.payment_table thead tr th{text-align:center;padding:2px;font-weight:normal}
.paticle{width:170px}
.voucher{width:80px}
.amount{width:80px}
.code{width:50px}
.paticle_in{width:175px}
.voucher_in{width:70px}
.amount_in{width:70px}
.code_in{width:50px}
.payment_table tbody tr td input{border: 0 none;
text-align: center;
padding:0px 5px}
.payment_table tbody tr td input.paticle_in{text-align:left}
.date_section{text-align:right;margin-bottom:15px}
.date_section h4{}
.date_section h5 input{-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: -moz-use-text-color;
border-image: none;
border-style: none none dashed;
border-width: medium medium 1px;
width: 150px;}
.single_footer{border-top: 1px solid #000;
padding-top: 5px;
text-align: center;}
.single_footer h4{font-size:15px;text-transform:uppercase}
.main_padd{background: #fff none repeat scroll 0 0;
box-shadow: 0 0 5px #000;
padding: 25px;}
.table-bordered thead tr th,
.table-bordered tbody tr th,
.table-bordered tfoot tr th,
.table-bordered thead tr td,
.table-bordered tbody tr td,
.table-bordered tfoot tr td {
  border: 1px solid #000;
}
.table-bordered {
  border: 1px solid #000;
}

/* New CSS */
.rece_table{padding-right:0px;}
.pay_table{padding-left:0px;}