.col-lg-4{width:33.33%;float:left}
body
{
  margin: 0px;
}
.main_padd{padding-top:15px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px}
.main_table_section{margin-bottom:40px}
.table-bordered thead tr th,
.table-bordered tbody tr th,
.table-bordered tfoot tr th,
.table-bordered thead tr td,
.table-bordered tbody tr td,
.table-bordered tfoot tr td {
  border: 1px;
  border-color:#000;
}
.table-bordered {
  border: 1px;
  border-color:#000;
}
/* New CSS */

.rece_table{padding-right:0px;float:left;width:50%}
.pay_table{padding-left:0px;float:left;width:50%}
  .container {
    width: 800px;
  }