.hidden{
  display: none;
}
h1,h2,h3,h4,h5,p{margin:0;padding:0}
body{font-family: 'Droid Serif', serif;}
.cat select{
margin: 0 0 20px 0 ;
}
.modal-body select{
  margin: 0 0 20px 0 ;
}

.row{}

.col-lg-12{}

.header{background: #3399CC none repeat scroll 0 0 / 100% auto;
color: #fff;
height: 130px;
overflow: hidden;}

.header img{float: left;
padding: 20px;
width: 200px;}

.header h2{font-size: 36px;
margin-top: 40px;}

.main_contant{border-left: 2px solid #3399CC;
border-right: 2px solid #3399CC;
padding: 20px;}

.login_form h2{margin-bottom: 25px;text-align:center}

.button{
  width:100px;
  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background:#2288bb;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #3399cc;
  border-left:12px solid transparent;
  margin:0 auto;
}

#login h1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

form{
  background:#f0f0f0;
  padding:6% 4%;
}

input[type="text"],input[type="password"]{
  width:100%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:1%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}


.footer{background: #3399CC none repeat scroll 0 0;
color: #fff;
min-height: 120px;
padding: 38px 20px 20px;
text-align: center;}

.footer p{font-size: 15px;}

.footer p a{color: blue;}


/*  Home Page CSS   */
.mianmenu{text-align:center}
.mianmenu ul{margin:0;padding:0;list-style:none}
.mianmenu ul li{display:inline}
.mianmenu ul li a{background: url("../images/blue_bar.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
color: #fff;
display: inline-block;
font-size: 20px;
font-weight: 700;
padding: 50px 40px;
text-transform: uppercase;}
.mianmenu ul li a:hover{text-decoration:none;}
.welcom_text{text-align:center}
.welcom_text h1{margin: 75px 0;}
.account_sce{text-align:center}
.account_sce a button{background: rgba(0, 0, 0, 0) url("../images/blue_bar.png") no-repeat scroll 0 0 / 100% 100%;
border: 0 none;
color: #fff;
font-size: 20px;
font-weight: 700;
margin: 0 10px;
padding: 41px 25px;
text-transform: uppercase;}
.innermenu{text-align:center;margin-bottom:10px}
.innermenu ul{margin:0;padding:0;list-style:none}
.innermenu ul li{display:inline}
.innermenu ul li a{background: url("../images/blue_bar.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
color: #fff;
display: inline-block;
font-size: 18px;
padding: 15px 20px;}
.innermenu ul li a:hover{text-decoration:none;}
.innermenu2{text-align:center;margin-bottom:30px;height: 100px}
.innermenu2 ul{margin:0;padding:0;list-style:none}
.innermenu2 ul li{display:inline}
.innermenu2 ul li a{background: url("../images/blue_bar.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
color: #fff;
display: inline-block;
font-size: 18px;
padding: 5px 20px;}
.innermenu2 ul li a:hover{text-decoration:none;}
.table-bordered {
    border: 2px solid #fff;
}
.bank-remaining-balance {
    border: 2px solid #ccc;
}

/*   Liton css   */

.acc_div{    border: 2px solid #3399CC;
    margin: 15px 50px;
    margin-top:30px;}
.acc_left{ border-right: 2px solid #3399CC;
  padding: 0px
}
.acc_left h2{text-align: center;
    border-bottom: 2px solid #3399CC;
    padding: 8px 0;
    margin-bottom:20px;
background-color: #93CFEB;
  }
.acc_right{padding:0px;text-align: center;}
.acc_right h2{text-align: center;
    border-bottom: 2px solid #3399CC;
    padding: 8px 0;
    margin-bottom:20px;
background-color: #93CFEB;
  }
.acc_right button{}
.btn-action-u{    padding: 10px 40px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top:70px;}
.btn-action-d{    padding: 10px 45px;
    font-size: 25px;}
.open>.dropdown-menu {
    display: block;
    top: 25px;
    text-align: center;
    left: 0;
    right: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color:transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu li a {
  width: 250px;
}
.mainContentBank{
    width: 500px;
    margin: 0 auto 45px;
}