
body{font-family: 'Lobster Two', cursive;}
p{font-size:20px}
h1,h2,h3,h4,h5,p{margin:0;padding:0}
h1,h2{font-family: 'Playball', cursive;}


.loadingj{position: fixed;
width: 75%;
height: 100px;
top: 229px;
z-index: 1;
text-align: center;
display: none;
}
.pbtn{
display:block;
position:relative;
top:800px;
}
.bg_img  img{width:100%}
.bg_img{position:absolute}
.back_bg {position:relative;
margin: 0 auto;
width:1300px}

.main_content{padding: 120px 130px;
position: absolute;}

.header_part {text-align:center;margin-bottom:30px}

.header_part h1 {font-size: 40px;
font-weight: normal;}

.header_part h4 {font-size: 20px;}

.testimonial_title {text-align:center;margin-bottom:40px}

.testimonial_title h2 {background-color: #486F98;
border: 2px solid #486F98;
border-radius: 30px;
color: #fff;
display: inline-block;
font-size: 35px;
padding: 2px 50px;}

.testimonial_title h3 {}

.testimonial_content input[type="text"]{border-color: -moz-use-text-color;
border-style: none none dotted;
border-width: medium medium 2px;
font-size: 20px;
font-style: italic;
padding-left: 5px;
text-transform: capitalize;}

.testimonial_content p {font-size: 22px;
line-height: 30px;margin-bottom:20px;}

.testimonial_content p span {margin-left:80px}

.mid_width {width: 255px;}

.sm_width {width: 140px;}

.footer_part {margin-top:20px}

.date {float: left;
margin-top: 20px;
width: 50%;}

.date input[type="text"]{border-color: -moz-use-text-color;
border-style: none none dotted;
border-width: medium medium 2px;}

.date p {}

.head_master_sign {float: right;
margin-top: -15px;
text-align: center;
width: 50%;}

.head_master_sign p {
font-size: 18px;}